
<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>
    <title>Compose</title>
  </head>

  <body>
    
    <div class="login-area">
      {% if admin %}
        <a href="/group" class="login-link">
          Manage Groups
        </a>
        |
      {% endif %}
      <a href="/inbox" class="login-link">
          Inbox
      </a>
      {{user}}
      <a href="/logout" class="login-link">
        (logout)
      </a>
      <br>
    </div>
    
    <h2>Compose</h2>

    <form method="post" id="Compose">
      <table>
        <tr>
          <td class="label">
            To: 
          </td>
          <td>
            Separate your recipients using the semicolon ';'
            <div class="error">
              {{errorTo}}
            </div>
            <input type="text" name="to" value="{{to}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Cc: 
          </td>
          <td>
            <div class="error">
              {{errorCc}}
            </div>
            <input type="text" name="cc" value="{{cc}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Bcc: 
          </td>
          <td>
            <div class="error">
              {{errorBcc}}
            </div>
            <input type="text" name="bcc" value="{{bcc}}">
          </td>
        </tr>
        
        <tr>
          <td class="label">
            Subject: 
          </td>
          <td>
            <div class="error">
              {{errorSubject}}
            </div>
            <input type="text" name="subject" value="{{subject}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Message:
          </td>
          <td>
            You can format your message using markdown!
            <div class="error">
              {{errorMessage}}
            </div>
            <textarea name="message" form="Compose">{{message}}</textarea>
          </td>
        </tr>

      </table>

      <input type="submit" value="Send">
    </form>
  </body>

</html>