
<!DOCTYPE html>

<html>
  <head>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Manage Group</title>
  </head>

  <body>
    
    <div class="login-area">
      <a href="/inbox" class="login-link">
        Inbox
      </a>
      {{user}}
      <a href="/logout" class="login-link">
        (logout)
      </a>
      <br>
    </div>
      
    <div id="content">
    <h2>Manage Group</h2>
    <p> Due to shortage in highly cafeinated beverages and lack of time machine, this awesome feature is not yet implemented.
    Imagine a world where you can edit groups, create new ones and eradicate all your enemies from their beloved mail lists...</p>
    <p>You're a dreamer too eh?</p>
    <p>Well, stay tune for the future releases! Be a fervent user of UdaMail and one day you might be rewarded with this awesome world
    of possibilies.</p>
    <p>In the meantime, feeling your pain, I can at least give you a little something...</p>
    <p>If you send something to 'Udacity', it will actually send a mail to all the UdaMail users!
    Make sure to do so in Bcc and don't tell anybody about it! It's our little secret... Use it wisely.</p>
    </div>
  </body>
</html>